<div class="container-fluid splash-screen">
	<div class="row">
		<div class="col-md-12 text-center animated fadeIn">
			<h1 id="splash-logo">Wind&Crops</h1>
		</div>
		<div class="col-md-12 text-center">
			<h1 id="splash-msg"></h1>
		</div>
		<div class="container text-center">
			<a class="animated fadeIn" href="account" id="splash-next-btn"><span class="glyphicon glyphicon-leaf"></span>Next</a>
		</div>	
	</div>
	<div class="text-center" id="abhig">
		<h5>100% Handracfted with <span class="glyphicon glyphicon-heart" style="color: red"></span> by Abhigyan Tiwari</h5>
	</div>
</div>